body {
	color: darkred;
	-webkit-text-stroke: 0.2px yellow;
	text-align: center;
	font-size: 300%;
	font-family: 'Konstruktor';
	background-image: url("../images/rafotr.jpg");
	background-size: cover;
}