@font-face {
	font-family: 'Konstruktor';
	src: url("fonts/KonstruktorRegular.ttf") format("truetype");
}

@font-face {
	font-family: 'Comic Sans MS';
	src: url("fonts/Comic Sans MS.ttf") format("truetype");
}

@font-face {
	font-family: 'Nikkyou Sans';
	src: url("fonts/NikkyouSans.ttf") format("truetype");
}

@font-face {
	font-family: 'Communist Bold';
	src: url("fonts/comm_sb.ttf") format("truetype");
}

@font-face {
	font-family: 'Jetbrains Mono';
	src: url("fonts/JetBrainsMonoNL-Regular.ttf") format("truetype");
}

button {
	height: 38px;
	background-color: darkred;
	color: yellow;
	font-family: 'Nikkyou Sans'; /* Placeholder */
}

button:focus {
	background-color: red;
}

.commiehyperlink {
	color: red;
	text-decoration-color: red;
}

.commiehyperlink:hover {
	color: darkred;
	text-decoration-color: darkred;
}

.flagemoji {
	border-radius: 10% 10% 10% 10%;
}

.comicsans {
	font-family: 'Comic Sans MS';
}

.nikkyousans {
	font-family: 'Nikkyou Sans';
}

.noncenter {
	text-align: start;
}

.trumpsweewee {
	font-size: 50%;
}

.katsitelink {
	color: orange;
	text-shadow: 0px 0px 5px red, 0px 0px 10px red;
	text-decoration-color: orange;
}

.katsitelink:hover {
	color: darkorange;
	text-decoration-color: darkorange;
}

#sitenavbar {
	background-color: rgba(0, 0, 0, 0.5);
	float: left;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	border: 2px solid gold;
}