@font-face {
	font-family: 'Konstruktor';
	src: url("fonts/KonstruktorRegular.ttf") format("truetype");
}

@font-face {
	font-family: 'Comic Sans MS';
	src: url("fonts/Comic Sans MS.ttf") format("truetype");
}

@font-face {
	font-family: 'Nikkyou Sans';
	src: url("../fonts/NikkyouSans.ttf") format("truetype");
}

body {
	color: darkred;
	-webkit-text-stroke: 0.2px yellow;
	text-align: center;
	font-size: 300%;
	font-family: 'Konstruktor';
	background-image: url("images/sovietuniverse.jpg");
	background-size: cover;
}

button {
	height: 38px;
	background-color: red;
	font-family: sans-serif; /* Placeholder */
}

hr {
	color: darkred;
}

.commiehyperlink {
	color: red;
	text-decoration-color: red;
}

.commiehyperlink:hover {
	color: darkred;
	text-decoration-color: darkred;
}

.comicsans {
	font-family: 'Comic Sans MS';
}

.nikkyousans {
	font-family: 'Nikkyou Sans';
}

#sitenavbar {
	background-color: rgba(0, 0, 0, 0.5);
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid gold;
}

#katsite {
	color: orange;
	text-decoration-color: orange;
}

#katsite:hover {
	color: darkorange;
	text-decoration-color: darkorange;
}