@import url("global.css")

body {
	color: darkred;
	-webkit-text-stroke: 0.2px yellow;
	text-align: center;
	text-shadow: 1px 1px 1px black;
	font-size: 300%;
	font-family: 'Konstruktor';
	background-image: url("images/sovietuniverse.jpg");
	background-size: cover;
}

button {
	height: 38px;
	background-color: red;
	font-family: 'Communist Bold'; /* Placeholder */
}

hr {
	color: darkred;
}

#katsite {
	color: orange;
	text-shadow: 0px 0px 5px red, 0px 0px 10px red;
	text-decoration-color: orange;
}

#katsite:hover {
	color: darkorange;
	text-decoration-color: darkorange;
}