body {
	color: darkred;
	-webkit-text-stroke: 0.2px yellow;
	text-align: center;
	text-shadow: 1px 1px 1px black;
	font-size: 300%;
	font-family: 'Konstruktor';
	background: url("../../images/oops.jpg");
	background-size: 100%;
	background-attachment: fixed;
}

ul {
	text-align: left;
}

code {
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	font-family: 'Jetbrains Mono';
	font-size: 80%;
}