body {
	color: darkred;
	-webkit-text-stroke: 0.2px yellow;
	text-align: center;
	text-shadow: 1px 1px 1px black;
	font-size: 300%;
	font-family: 'Konstruktor';
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/elpueblodeserbia.jpg");
	background-size: 100%;
	background-attachment: fixed;
}